* {
  margin: 0;
  padding: 0;
}
/* general styles */
p {
  color: black;
  font-family: "Helvetica";
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2em;
}

h3 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}
ul li {
  font-family: "Open Sans", sans-serif;
}
/* Header Styles */
header h1 {
  margin: 0 10px;
}

/* Box Styles */
.container {
  border: 1px solid black;
  margin: 20px auto;
}

/* Color Section */

.colorBox {
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 10px 100px;
  border-radius: 50%;
  display: inline-block;
}

.colorBox p {
  padding-top: 27%;
}

.red {
  background-color: #a50104;
}

.cyan {
  background-color: #56a3a6;
}

.black {
  background-color: #04151f;
}

.text-white p {
  color: white;
}

/* Font Section */
/* Roboto: headings, Open Sans: paragraph text */
/* TODO: Find good monospaced font*/

.font-box {
  display: inline-block;
  margin: 20px 150px;
  line-height: 200%;
}

.heading-font {
  font-family: "Roboto";
}
.paragraph-font {
  font-family: "Open Sans";
}
.code-font {
  font-family: monospace;
}
.light-text {
  font-weight: 300;
}
.bold-text {
  font-weight: 700;
}
/* Heading Section */
.heading-box {
  display: inline-block;
  margin: 50px 150px;
  line-height: 200%;
}
.main-text {
  line-height: 225%;
}

